body {
  transition: background-color 200ms ease-in;
}

body.dark-page {
  background-color: #283149;
  color: #d7d7d7 !important;
  color: #d7d7d7 !important;
}
body.dark-page .bg-gray-100 {
  background-color: transparent !important;
}
body.dark-page .text-body {
  color: #d7d7d7 !important;
}
body.dark-page .text-gradient.text-dark {
  background-image: linear-gradient(310deg, #a8a8a8, #ffffff);
}
body.dark-page .fixed-plugin .fixed-plugin-button {
  background-color: #283149;
  color: #d7d7d7 !important;
}
body.dark-page .sidenav-header .navbar-brand {
  color: #fff !important;
}
body.dark-page .card, body.dark-page .card-header {
  background-color: #404B69 !important;
}
body.dark-page h6, body.dark-page .h6, body.dark-page h5, body.dark-page .h5, body.dark-page h4, body.dark-page .h4, body.dark-page h3, body.dark-page .h3, body.dark-page h2, body.dark-page .h2, body.dark-page h1, body.dark-page .h1 {
  color: #fff !important;
}
body.dark-page .text-dark {
  color: #fff !important;
}
body.dark-page .table {
  border-color: rgba(85, 119, 154, 0.2784313725);
}

body.dark-page .dropdown-menu {
  background-color: #344767;
  color: #d7d7d7 !important;
}
body.dark-page .dropdown-menu:before {
  color: #344767 !important;
}
body.dark-page .dropdown-menu a {
  color: #d7d7d7 !important;
}
body.dark-page .dropdown-menu i {
  color: #fff !important;
}
body.dark-page .dropdown-menu .dropdown-item:hover, body.dark-page .dropdown-menu .dropdown-item:focus {
  background-color: #404B69;
}
body.dark-page .input-group span, body.dark-page .input-group input {
  background-color: #283149;
  border-color: rgba(40, 49, 73, 0.8) !important;
}

body.dark-page .form-control:focus {
  border-color: #fff;
  box-shadow: 0 0 0 1px #fff;
}

body.dark-page .navbar-main:not(.bg-transparent) .input-group span, body.dark-page .navbar-main:not(.bg-transparent) .input-group input {
  background-color: #fff !important;
  border-color: #fff;
}
body.dark-page .navbar-main.blur {
  background-color: rgba(64, 75, 105, 0.5) !important;
  border-color: #283149;
  box-shadow: none !important;
}
body.dark-page .navbar-main.blur .nav-link {
  color: #d7d7d7 !important;
}
body.dark-page .navbar-main.blur .sidenav-toggler-line.bg-dark {
  background-color: #344767 !important;
}
body.dark-page .sidenav .nav-link.active,
body.dark-page .sidenav .nav-link:hover {
  background-image: linear-gradient(310deg, #404B69 0%, #404B69 100%) !important;
  color: #fff !important;
}

body.dark-page .list-group-item {
  background-color: transparent;
}
body.dark-page .list-group-item.bg-gray-100 {
  background-color: rgba(248, 249, 250, 0.0392156863) !important;
}
body.dark-page .btn-simple.btn-facebook, body.dark-page .btn-simple.btn-instagram, body.dark-page .btn-simple.btn-twitter {
  color: #d7d7d7 !important;
}
body.dark-page svg.text-dark .color-background {
  fill: #d7d7d7;
}
body.dark-page .nav.nav-pills .nav-link {
  color: #d7d7d7 !important;
}
body.dark-page .moving-tab .nav-link.active {
  box-shadow: 0 1px 5px 1px rgba(55, 68, 104, 0.8784313725);
  background: #283149;
}
body.dark-page .shadow-blur {
  box-shadow: inset 0 0 2px rgba(254, 254, 254, 0.82) !important;
}
body.dark-page .form-switch .form-check-input:checked {
  border-color: rgba(36, 39, 57, 0.95);
  background-color: rgba(36, 39, 57, 0.95);
}
body.dark-page .navbar.blur-rounded {
  background-color: rgba(64, 75, 105, 0.8) !important;
}
body.dark-page .navbar.blur-rounded .navbar-brand {
  color: #fff !important;
}
body.dark-page .navbar.blur-rounded .navbar-nav .nav-link {
  color: #d7d7d7 !important;
}
body.dark-page label, body.dark-page .form-label {
  color: #d7d7d7 !important;
}
body.dark-page input {
  background-color: rgba(40, 49, 73, 0.6);
  border-color: rgba(64, 75, 105, 0.6);
}

body.dark-page input.form-control:focus {
  color: #d7d7d7 !important;
  border-color: #fff;
  outline: 0;
  box-shadow: 0 0 0 1px #fff;
}

body.dark-page .dataTable-wrapper .dataTable-top .dataTable-search input:focus {
  color: #d7d7d7 !important;
  background-color: rgba(40, 49, 73, 0.6);
  border-color: #283149;
  outline: 0;
  box-shadow: 0 0 0 2px #283149;
}

body.dark-page .progress {
  background-color: rgba(39, 48, 71, 0.6705882353) !important;
}
body.dark-page .btn-outline-dark {
  color: white;
  border-color: white;
}

body.dark-page .dataTable-wrapper .dataTable-bottom .dataTable-pagination .dataTable-pagination-list li a {
  color: #fff !important;
}

body.dark-page .dataTable-wrapper .dataTable-bottom .dataTable-pagination .dataTable-pagination-list li a:hover {
  background: #344767;
}


body.dark-page .dataTables-empty {
  color: #fff;
}

/* body.dark-page .dataTable-sorter::before {
  border-top: 4px solid #fff;
}

body.dark-page .dataTable-sorter::after {
  border-bottom: 4px solid #fff;
} */

body.dark-page .flatpickr-input {
  background-color: #283149 !important;
}

body.dark-page .dataTable-selector {
  background-color: #283149 !important;
  border: none;
  color: #d7d7d7 !important;
}

body.dark-page .dataTable-wrapper .dataTable-top .dataTable-search input {
  background-color: #283149 !important;
  border: none !important;
}

body.dark-page .flatpickr-calendar {
  background-color: #283149 !important;
}

body.dark-page .flatpickr-day {
  color: #F4F7FE !important;
}

body.dark-page .flatpickr-months .flatpickr-month {
  color: #F4F7FE !important;
}

body.dark-page span.flatpickr-weekday {
  color: #F4F7FE !important;
}

body.dark-page .flatpickr-day.flatpickr-disabled, 
body.dark-page .flatpickr-day.flatpickr-disabled:hover, 
body.dark-page .flatpickr-day.prevMonthDay, 
body.dark-page .flatpickr-day.nextMonthDay, 
body.dark-page .flatpickr-day.notAllowed, 
body.dark-page .flatpickr-day.notAllowed.prevMonthDay, 
body.dark-page .flatpickr-day.notAllowed.nextMonthDay  {
  opacity: 0.1 !important;
}

body.dark-page .flatpickr-calendar .flatpickr-day.inRange {
  box-shadow: -5px 0 0 #3e4778b0, 5px 0 0 #3e4778b0 !important;
}

body.dark-page .flatpickr-months .flatpickr-prev-month svg path,
body.dark-page .flatpickr-months .flatpickr-next-month svg path {
  fill: #F4F7FE;
}

body.dark-page .flatpickr-current-month .numInputWrapper span.arrowUp:after {
  border-bottom-color: #fff !important;
}

body.dark-page .flatpickr-current-month .numInputWrapper span.arrowDown:after {
  border-top-color: #fff !important;
}

body.dark-page .flatpickr-current-month .flatpickr-monthDropdown-months {
  background-color: #283149;
}

body.dark-page .bg-gradient-form {
  color: #344767;
  background-image: linear-gradient(135deg, #F4F7FE 0%, #2f364c 100%);
}

body.dark-page .bg-gradient-form.prev {
  color: #fff;
  background-image: linear-gradient(135deg, #7b96d3 0%, #07080c 100%);
}

body.dark-page .bg-gradient-form:hover {
  color: #344767 !important;
}

body.dark-page .bg-gradient-form.prev:hover {
  color: #fff !important;
}

body.dark-page .form-switch .form-check-input:after {
  background-color:  #fff !important;
} 

body.dark-page .form-control::placeholder {
  color: #5a6b88 !important;
}

body.dark-page .form-control{
  color: #fff !important;
}

body.dark-page .timeline-step {
  background-color: #fff !important;
}

@media (min-width: 992px) {
  body.dark-page .navbar-vertical.navbar-expand-xs .navbar-nav .nav-link-tooltip {
    background-color: #344767 !important;
  }
}


body.dark-page .skeleton {
  -webkit-animation: skeleton-dark-loading 1s linear infinite alternate !important;
  animation: skeleton-dark-loading 1s linear infinite alternate !important;
}

@-webkit-keyframes skeleton-dark-loading{
  0% {
    background-color: #697ea1;
  }
  100% {
    background-color: #4d5c75;
  }
}

@keyframes skeleton-dark-loading {
  0% {
    background-color: #697ea1;
  }
  100% {
    background-color: #4d5c75;
  }
}
