<!--   Core JS Files   -->
<script async defer src="https://buttons.github.io/buttons.js"></script> 
<script src="./static/assets/js/core/popper.min.js"></script>
<script src="./static/assets/js/core/bootstrap.min.js"></script>
<script src="./static/assets/js/jquery/dist/jquery.min.js"></script>
<script src="./static/assets/js/plugins/smooth-scrollbar.min.js"></script>
<script src="./static/assets/js/dark-mode-handler.js"></script>
<script src="./static/assets/js/clock.js"></script> 
<script src="./static/assets/js/light-mode-handler.js"></script>
