<!--   Core JS Files   -->
<script async defer src="https://buttons.github.io/buttons.js"></script> 
<script src="{{ url_for('static', filename='assets/js/core/popper.min.js') }}"></script>
<script src="{{ url_for('static', filename='assets/js/core/bootstrap.min.js') }}"></script>
<script src="{{ url_for('static', filename='assets/js/jquery/dist/jquery.min.js') }}"></script>
<script src="{{ url_for('static', filename='assets/js/dist/dark-mode-handler.min.js') }}"></script>
<script src="{{ url_for('static', filename='assets/js/dist/clock.min.js') }}"></script> 
<script src="{{ url_for('static', filename='assets/js/dist/light-mode-handler.min.js') }}"></script>
