{% extends 'layouts/base.html' %}

{% block title %} Dashboard {% endblock title %}

{% block content %}
    <div class="container-fluid py-4">
        <div class="d-flex flex-column h-100 mb-4">
            <h2 class="font-weight-bolder text-dark mb-0">Dashboard</h2>
        </div>
        <div class="grid-statistics-container">
            <div class="card">
                <div class="card-body p-3">
                    <div class="d-flex justify-content-between">
                        <p class="text-sm mb-1 text-capitalize font-weight-bold">Pacientes moderados</p>
                        <div class="dropdown text-end">
                            <a href="javascript:;" class="filter-date cursor-pointer text-secondary" id="dropdown-filters" data-bs-toggle="dropdown" aria-expanded="false">
                                <span class="text-xs opacity-8 text-dark">18 - 24 de Julio</span>
                            </a>
                            <ul class="dropdown-menu dropdown-menu-end px-2 py-3" aria-labelledby="dropdown-filters" style="">
                                <li><a class="dropdown-item border-radius-md" href="javascript:;">Últimos 7 días</a></li>
                                <li><a class="dropdown-item border-radius-md" href="javascript:;">Semana pasada</a></li>
                                <li><a class="dropdown-item border-radius-md" href="javascript:;">Últimos 30 días</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="text-start">
                        <h5 class="font-weight-bolder mb-0">
                            42
                        </h5>
                        <span class="text-sm text-end text-danger font-weight-bolder mt-auto mb-0">
                            +10% 
                            <span class="font-weight-normal opacity-8 text-dark">desde la semana pasada</span>
                        </span>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-body p-3">
                    <div class="d-flex justify-content-between">
                        <p class="text-sm mb-1 text-capitalize font-weight-bold">Pacientes graves</p>
                        <div class="dropdown text-end">
                            <a href="javascript:;" class="filter-date cursor-pointer text-secondary" id="dropdown-filters" data-bs-toggle="dropdown" aria-expanded="false">
                                <span class="text-xs opacity-8 text-dark">18 - 24 de Julio</span>
                            </a>
                            <ul class="dropdown-menu dropdown-menu-end px-2 py-3" aria-labelledby="dropdown-filters" style="">
                                <li><a class="dropdown-item border-radius-md" href="javascript:;">Últimos 7 días</a></li>
                                <li><a class="dropdown-item border-radius-md" href="javascript:;">Semana pasada</a></li>
                                <li><a class="dropdown-item border-radius-md" href="javascript:;">Últimos 30 días</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="text-start">
                        <h5 class="font-weight-bolder mb-0">
                            16
                        </h5>
                        <span class="text-sm text-end text-danger font-weight-bolder mt-auto mb-0">
                            +5% 
                            <span class="font-weight-normal opacity-8 text-dark">desde la semana pasada</span>
                        </span>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-body p-3">
                    <div class="d-flex justify-content-between">
                        <p class="text-sm mb-1 text-capitalize font-weight-bold">Pacientes críticos</p>
                        <div class="dropdown text-end">
                            <a href="javascript:;" class="filter-date cursor-pointer text-secondary" id="dropdown-filters" data-bs-toggle="dropdown" aria-expanded="false">
                                <span class="text-xs opacity-8 text-dark">18 - 24 de Julio</span>
                            </a>
                            <ul class="dropdown-menu dropdown-menu-end px-2 py-3" aria-labelledby="dropdown-filters" style="">
                                <li><a class="dropdown-item border-radius-md" href="javascript:;">Últimos 7 días</a></li>
                                <li><a class="dropdown-item border-radius-md" href="javascript:;">Semana pasada</a></li>
                                <li><a class="dropdown-item border-radius-md" href="javascript:;">Últimos 30 días</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="text-start">
                        <h5 class="font-weight-bolder mb-0">
                            8
                        </h5>
                        <span class="text-sm text-end text-success font-weight-bolder mt-auto mb-0">
                            -20% 
                            <span class="font-weight-normal opacity-8 text-dark">desde la semana pasada</span>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock content %}