{% extends 'layouts/base-error.html' %}

{% block title %} Error 404 {% endblock title %}

{% block stylesheets %}{% endblock stylesheets %}

{% block body_class %} error-page {% endblock %}

{% block content %}

    <main class="main-content mt-0">
        <section class="d-flex justify-content-center align-items-center vh-100">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 my-auto">
                        <h1 class="display-1 text-bolder text-gradient text-danger">Error 404</h1>
                        <h2>Página no encontrada</h2>
                        <p class="lead opacity-6 fadeIn2 fadeInBottom">Le sugerimos que vaya a la página de inicio mientras resolvemos este problema.</p>
                        <a href="{{ url_for('dashboard_blueprint.index') }}" type="button" class="btn bg-gradient-dark mt-4">Ir a la página de inicio</a>
                    </div>
                    <div class="col-lg-6 my-auto position-relative">
                        <img class="w-100 position-relative" src="/static/assets/img/error-404.png" alt="404-error">
                    </div>
                </div>
            </div>
        </section>
    </main>

{% endblock content %}
