<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests"> 
        <link rel="apple-touch-icon" href="{{ url_for('static', filename='assets/img/covid19-patient.ico') }}">
        <link rel="icon" href="{{ url_for('static', filename='assets/img/covid19-patient.ico') }}">
        <title>
            Covid 19 -{% block title %} {% endblock title %} | UTPL
        </title>

            <!--     Fonts and icons     -->
            <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet" />

            <!----===== Iconscout CSS ===== -->
            <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css" />

            <!-- Nucleo Icons -->
            <link href="{{ url_for('static', filename='assets/css/nucleo-icons.css') }}" rel="stylesheet" />
            <link href="{{ url_for('static', filename='assets/css/nucleo-svg.css') }}" rel="stylesheet" />

            <!-- Font Awesome Icons -->
            <script src="https://kit.fontawesome.com/42d5adcbca.js" crossorigin="anonymous"></script>
            <link href="{{ url_for('static', filename='assets/css/dist/nucleo-svg.min.css') }}" rel="stylesheet" />

            <!-- Bootstrap Icons -->
            <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">

            <!-- Sweet alert -->
            <link href="{{ url_for('static', filename='assets/css/dist/light-sweet-alert.min.css') }}" rel="stylesheet" />
            <link href="{{ url_for('static', filename='assets/css/dist/dark-sweet-alert.min.css') }}" rel="stylesheet" />

            <!-- CSS Files -->
            <link id="pagestyle" href="{{ url_for('static', filename='assets/css/dist/light-theme-core.min.css') }}" rel="stylesheet" />
            <link id="pagestyle_dark" href="{{ url_for('static', filename='assets/css/dist/dark-theme-core.min.css') }}" rel="stylesheet" />


        <!-- Specific page css goes here! -->
        {% block stylesheets %}{% endblock stylesheets %}
    </head>

    <body class="g-sidenav-show bg-gray-100">
        {% include "includes/sidebar.html" %}

        <main class="main-content mt-1 main-content position-relative h-100 border-radius-lg">

            <!-- NAVBAR -->
            {% include "includes/navbar.html" %}

            {% block content %} {% endblock content %}

            <!-- SCROLL TOP -->
            {% include "includes/back-to-top.html" %}
        </main>

        <!-- Core JS Files -->
        {% include "includes/scripts.html" %}

        <!-- Specific JS goes HERE -->
        {% block javascripts %}{% endblock javascripts %}
    </body>
</html>
